<h1>About the site</h1>

<article>
	<p>
		This site is made by Carl Tablante to demonstrate a simple CRUD, login, authentication and search. use the login username: admin, <br> password: password
		to view the full functionalities of the site.
		
		<p>The site also demonstrates a simple borrow function. The logged in user may browse the available books and
			borrow the book. He may also go to his profile to view his current borrowed book and return them.<br/><br />
			
			The admin has sa ability to add, delete and edit books</p>
	</p>
</article>
