<h1>About the site</h1>

<article>
	<p>
		This site is made by Carl Tablante to demonstrate a simple CRUD, login, authentication and search. use the login username: admin, <br> password: password
		to view the full functionalities of the site.
		
		<p>The borrow function is in progress.</p>
	</p>
</article>
