@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.txtsearch {
  width: 300px;
  margin-left: 10%;
}

.search {
  margin: 150px 200px 200px;
}

#btnAdvanceSrch {
}

#btnFind {
  margin-left: 25%;
  width: 120px;
}

.srchtitle {
  margin-left: 110px;
}

#book_title {
  margin-left: 60px;
}

#book_author {
  margin-left: 45px;
}

#book_no_of_items {
  margin-left: 15px;
}

#book_genre {
  margin-left: 50px;
}

td {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: .5em;
  text-align: center;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  margin-top: 12px;
  font-size: 12px;
  list-style: square;
}

.input-append button.add-on {
    height: inherit !important;
}

.input-append .span2 {
  width: 250px;
}
